$colors: ( black: #000,skyblue:lightskyblue, lightblue:lightblue, white:white,red: red, blue: blue,
 yellow:yellow, cyan:rgb(51, 145, 51), brown: brown);
$color-black: map_get($colors, black);
$color-lightblue: map-get($colors, lightblue);
$color-blue: map-get($colors, blue);
$color-yellow: map-get($colors, yellow);
$color-skyblue: map-get($colors, skyblue);
$color-brown: map-get($colors, brown);
$color-white:map-get($colors, white );
