@import "https://fonts.googleapis.com/css?family=Roboto";

//fall-back font
$font-pack: Roboto, Helvetica;

//font-sizes
$text-fsz-large: 48px;
$text-fsz-medium: 24px;
$text-fsz-regular: 16px;
$text-fsz-small: 12px;
$text-fsz-xsmall: 10px;

//font-weight
$text-font-weight: normal;
$text-font-weight-heavy: bold;
