@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$font-roboto: 'Roboto';

// Font Size:
$fsz-regular: 14px;
$fsz-large: 24px;
$body-margin:24px;
$height: 50px;
$all-round-margin:10px;
//Logo Sizes
$logo-width:95px;
$logo-height:110px;


//Grid Sizes
$grid-auto-rows: 170px;
