.content__right{
    display: grid;

    .belgium{
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: $grid-auto-rows;
        @include border-line-bottom;
       

        .belgium--rating{
       
        margin: $all-round-margin;
        
        @include border-line-right;
        background-image: url('../../images/one.jpg');
        
        }
        .belgium--engine{
            @include border-line-right;
            background-image: url('../../images/one.jpg');
            
        }
    }
    .opinion{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-auto-rows: $grid-auto-rows;
        @include border-line-left;
        .opinion--one{
            @include border-line-right;
            background-image: url('../../images/three.jpg');
           
        }
       
    }

    .news{
        height:$height;
        background: $color-skyblue;
        text-align: center;
    }
    .column-feature{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-auto-rows: 120px;
        border-left: 1px solid;
        .column-feature--image{
            margin: 5px;
            text-align: start;
            border-right: 1px solid;
            background-image: url('../../images/two.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .column-photo{
        display: grid;
        grid-auto-rows: $grid-auto-rows*2;
        border-left: 1px solid;

        .column-photo--image{
            text-align: justify;
            @include border-line-right;
            background-image: url('../../images/two.jpg');
          
        }
    }
    .video-gallery{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-auto-rows: $grid-auto-rows + 40px;
       @include border-line-bottom;
        @include border-line-left;
        border-right: 1px solid;
        .video-gallery--one{
            text-align: justify;
            margin: 10px;
           @include border-line-right;
            background-image: url('../../images/two.jpg');
           
        }
    }
    
}
.content__opinions{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows:  33.3% 33.3% 33.3%;
    grid-gap: 10px;

    .content__opinions--ex{
        background: navajowhite;
        padding: 5px;
    }
    .content__opinions--o{
        background: navy;
        padding: 5px;
    }
}
