.header{
    margin: 0 $base-grid*3;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    padding: $base-grid 0;
    
    .header--logo{
        grid-row: 1/3;
        // background: cadetblue;
        justify-self: start;
        background: url("../../images/fb.png") no-repeat;
        width: $logo-width;
        height: $logo-height;
        background-size:contain;
    }
    .header--links{ 
        
        display: flex;
        justify-content: space-around;
       @include border-line-bottom;
       
        .--link{
            
            text-transform: uppercase;
            color: $color-black;
           
            &:not(:last-child){
                margin-right: $base-grid;
                
            }
            @include hover-active;
        }
       
    }
    .header--signs{
        justify-self: end;
         
        .signs--login{
            margin: $body-margin;
        }
    }
    .header--flag{
        grid-column: 1/3;
        padding: $base-grid 2; 
        display: flex;
        justify-content: space-around;
    }
}

